body {
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: white;
}

header {
    height:30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#mode {
    font-size: large;
    color: rgb(211, 165, 27);
    border: none;
    background-color: white;
}

main {
   
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 0px;
}
#container {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.topline {
    height: 5px;
    border-top: solid 2px black !important;
    border-bottom: solid 2px black !important;
}
.box {
    width: 50%;
    padding: 20px;
}

.middleline {
    width: 5px;
    border-left: solid 2px black;
    border-right: solid 2px black;
}
#right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.body-dark-mode {
    background-color: black;
    color: white;
}

.topline-dark-mode {
    height: 5px;
    border-top: solid 1px white !important; 
    border-bottom: solid 1px white !important;
}
.middleline-dark-mode {
  width:5px;
    border-left: solid 1px white !important; 
    border-right: solid 1px white !important;
}